<!doctype html>
<html lang="en">
    <head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.css" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.js"></script>
    </head>
    <body>
        <nav>
            <a href="https://www.upiita.ipn.mx/">
                <img src="{{ url_for('static', filename='upiita-logo.png') }}">
            </a>
        </nav>
        <header>
            <h1>Aplicaciones Distribuidas Proyecto Final</h1>
            <div class="byline">
                <a>Nivel Superior IPN Ubicaciones</a>
            </div>
        </header>
        <div id="map" style="width:100%; height:300px;"></div>
        <table border=1 cellpadding=7>
            <tr>
                <th>nombre</th>
                <th>telefono</th>
                <th>url</th>
            </tr>
        {% for obj in object_list %}
            <tr>
                <td><a href="{{ obj.id }}/">{{ obj.nombre }}</a></td>
                <td>{{ obj.telefono }}</td>
                <td>{{ obj.url }}</td>
            </tr>
        {% endfor %}
        </table>
	<center>
	<th>Profesor: Cesáreo Javier Muños Rodríguez <th>
	</center>
	<center>
	<th>Estudiantes: Martínez Martínez Beatriz Adriana, Orihuela Soto Edgar, Morales Gallegos Benito <th>
	</center>
        <script type="text/javascript">
            var map = L.map('map').setView([19.511179,-99.125700], 10);
            var osmLayer = new L.TileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                maxZoom: 20,
                attribution: 'Data, imagery and map information provided by <a href="http://www.openstreetmap.org/" target="_blank">OpenStreetMap</a> and contributors.'
            });
            map.addLayer(osmLayer);
            var data = {
              "type": "FeatureCollection",
              "features": [
                {% for obj in object_list %}
                {
                  "type": "Feature",
                  "properties": {
                    "nombre": "{{ obj.nombre }}",
                    "id": "{{ obj.id }}"
                  },
                  "geometry": {
                    "type": "Point",
                    "coordinates": [{{ obj.x }}, {{ obj.y }}]
                  }
                }{% if not loop.last %},{% endif %}
                {% endfor %}
              ]
            };
            var dataLayer = L.geoJson(data, {
                onEachFeature: function(feature, layer) {
                    layer.bindPopup(
                        '<a href="' + feature.properties.id + '/">' +
                            feature.properties.nombre +
                        '</a>'
                    );
                }
            });
            map.addLayer(dataLayer);
        </script>
    </body>
</html>
